.container {
  display: flex;
  gap: 16px;
  margin: 20px;
}

.Filters {
  flex: 0.3;
}

.MoviesList {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
