.card {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  max-height: 168px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  transition: background-color 0.3s ease;
  gap: 24px;
}

.card:hover {
  background-color: #f8f8f8;
}

.poster {
  border-radius: 8px;
}

.details {
  flex: 2;
  margin-left: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.genre {
  font-size: 16px;
  font-style: italic;
}

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
