.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  display: flex;
  flex-direction: column;
  width: 344px;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  gap: 24px;
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns_container {
  display: flex;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.question {
  font-size: 16px;
}

.btn_yes {
  background-color: #ff5500;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn_yes:hover {
  background-color: #e94e00;
}

.btn_no {
  background-color: transparent;
  color: #ff5500;
  border: 1px solid #ff5500;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.btn_no:hover {
  border: 1px solid #e94e00;
  color: #e94e00;
}

.btnClose {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  align-self: flex-start;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
